.profile{
    width: 320px;
    height: 400px;
}
.about{
    background-image: url("../../assets/bg/bg1.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
}
.pt-3{
font-weight:inherit;
font-family: cursive;
}